@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

:root {
  --color-primary: #1a2236;
  --color-secondary: #c4c4c4;
  --color-light: #e5e5e5;
  --color-white: #fff;
  --color-orange: #fec25a;
  --color-dark-orange: #febf52;
  --color-aqua: #98dede;
  --color-aqua-2: #92dcdc;
  --color-light-blue: #1c528a;
  --color-light-blue-2: #547da7;
  --color-purple: #ab1c28;
  --color-grey-background: #f9f9fa;
  --color-grey-border: #dfdfe0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px (browser default) = 62.5% */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: var(--color-light);
}

/************************ Mobile Version ************************/

.img-geometry-large,
.img-geometry-dot,
.img-geometry-dot_2,
.img-geometry_3,
.img-geometry_4,
.img-geometry_5,
.img-geometry_6,
.img-geometry_7,
.img-geometry_8,
.img-geometry_9,
.navigation-nav {
  display: none;
}

.container {
  margin: auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 7.4rem;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
  padding: 3.8rem 2.5rem;
}

.nav-item > .nav-link {
  display: block;
  width: 10rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-primary);
  position: relative;
}

.nav-link span {
  position: relative;
  z-index: 2;
}

.nav-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--color-white);
}

.nav-link:hover::after {
  width: 100%;
}

/************************ Navigation Menu ************************/

.img-geometry-menu_1,
.img-geometry-menu_2,
.mobile-nav {
  display: none;
}

.open .img-geometry-menu_1,
.open .img-geometry-menu_2 {
  display: inline-block;
}

.open .mobile-menu {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
}

.logo-display {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.mobile-menu--head {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.open .nav-item {
  padding: 0;
}

.open .img-geometry-menu_1 {
  width: 80%;
}

.toggle-bar {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  margin-right: 2rem;
  cursor: pointer;
}

.toggle-bar .line {
  width: 2.5rem;
  height: 0.25rem;
  background-color: var(--color-primary);
  margin: 0.25rem;
}

.open .line-1 {
  transform: rotate(-45deg) translate(-45%, 0%);
}

.open .line-2 {
  opacity: 0;
}

.open .line-3 {
  transform: rotate(45deg) translate(-40%, 0);
}

.open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-nav > .menu-item {
  margin-bottom: 1rem;
}

/************************ End of Navigation Menu ************************/

.landing-element {
  display: flex;
  flex-direction: column;
}

.landing-title {
  max-width: 90%;
  align-self: center;
}

.about-detail,
.about > p {
  font-size: 1.4rem;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: var(--color-primary);
  margin: 3.2rem 1.6rem;
}

.landing-about {
  padding: 0 1.6rem 3rem 1.6rem;
  display: flex;
  flex-direction: column;
}

.landing-about > p {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  line-height: 2.1;
  letter-spacing: -1%;
}

.btn {
  height: 5rem;
  background-color: var(--color-primary);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4;
  text-align: center;
  color: var(--color-white);
  border: none;
}

.btn:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn:active {
  background-color: var(--color-white);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.img-geometry-1 {
  width: 100%;
  max-height: 37rem;
}

.proj-img_1,
.proj-img_2,
.proj-img_3,
.proj-img_4,
.proj-img_5,
.proj-img_6 {
  width: 100%;
}

.work {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
}

.proj-card {
  display: flex;
  flex-direction: column;
}

.proj-img img {
  width: 100%;
  height: 100%;
}

.project-detail {
  background-color: var(--color-primary);
  padding: 2rem;
}

.project-name {
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  color: var(--color-white);
  margin-bottom: 1.6rem;
}

.languages {
  display: flex;
  margin-bottom: 1.6rem;
}

.languages > * {
  margin-right: 1rem;
  padding: 0.6rem;
  list-style: none;
  font-weight: 300;
  font-size: 1.033rem;
  line-height: 0.827;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-aqua);
}

.btn-pro {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-pro > .arrow {
  font-size: 2.57rem;
}

.btn-download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.about-myself {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  margin: 0 1.6rem 4rem 1.6rem;
}

.about-myself > .about {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

/* Adding animation to the landing about */
.landing-about p {
  animation: fadeDown 1000ms;
  z-index: 0;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-download > .download-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 2rem;
  fill: var(--color-primary);
}

.btn-download > .download-icon:hover {
  fill: var(--color-primary);
}

.about-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color-white);
  margin-bottom: 2.1rem;
}

.about-myself .about-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.card {
  padding-left: 5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.about-icon {
  justify-self: end;
  align-self: end;
  height: 10.222rem;
  width: 10.222rem;
  padding-bottom: 0;
}

.card ul {
  margin-left: 3.4rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -0.0525em;
  color: var(--color-white);
}

.card-1 {
  background-color: var(--color-light-blue);
}

.card-2 {
  background-color: var(--color-purple);
}

.card-3 {
  background-color: var(--color-dark-orange);
}

.card-3 > ul,
.card-3 > .about-title {
  color: var(--color-primary);
}

.contact {
  background-color: var(--color-grey-background);
}

.contact-info {
  padding: 1.8rem;
}

.contact-title {
  margin-left: 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}

.form > .btn {
  margin-top: 2rem;
}

.entry {
  position: relative;
  background-color: var(--color-white);
  padding: 0.5rem;
  border: 1px solid var(--color-grey-border);
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}

.entry:hover,
.entry:active {
  border: 1px solid var(--color-primary);
}

.input-label {
  margin: 0.4rem 1.6rem;
}

.message-label {
  margin: 1.5rem 1.6rem;
}

.input-text {
  outline: none;
  width: 100%;
  border: none;
  padding: 0.4rem 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.entry > textarea {
  height: 6.1rem;
}

.resume {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-aqua-2);
  margin-bottom: 3.2rem;
  margin-top: 1.6rem;
}

.resume > p {
  margin-right: 1.6rem;
}

.social {
  display: flex;
  flex-direction: column;
  margin-top: 6.4rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.6rem;
}

.social-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.resume > .icon {
  fill: var(--color-aqua-2);
}

/*************** Medium Device [screen size 768px - 992pxx] ***************/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-detail_7 {
    display: none;
  }

  .landing-title {
    max-width: 80%;
    align-self: center;
  }

  .landing-about > p,
  .about-detail > p,
  .contact-info > .about > p {
    font-size: 1.6rem;
  }

  .landing-about > .btn {
    width: 50%;
  }

  .work {
    background-color: var(--color-grey-background);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
  }

  .work-title {
    grid-column: 1 / -1;
  }

  .about-myself {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-main {
    grid-column: 1 / -1;
  }

  .about-detail > .btn {
    width: 50%;
  }

  .card-1,
  .card-2 {
    margin-bottom: 0;
  }

  .form,
  .contact-info,
  .contact-title,
  .contact-info > .about > p {
    width: 80%;
    margin: 3.2rem auto;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

/*************** Desktop Version [screen size 992px - 1200px] ***************/

@media only screen and (min-width: 992px) {
  .logo,
  .toggle,
  .project-detail_2,
  .project-detail_3,
  .project-detail_4,
  .project-detail_5,
  .project-detail_6,
  .img-geometry > .img-geometry-1 {
    display: none;
  }

  .navigation {
    justify-content: center;
    position: relative;
  }

  .navigation-nav {
    display: flex;
    justify-content: space-between;
  }

  .landing {
    display: flex;
  }

  .landing-item {
    flex: 1;
  }

  .landing-element {
    justify-content: flex-end;
    padding-left: 16rem;
  }

  .landing-about {
    margin: 0;
  }

  .landing-title {
    padding-right: 9.4rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .img-geometry-large,
  .img-geometry > .img-geometry-dot {
    display: inline;
    width: 12rem;
  }

  .img-geometry-large {
    width: 10rem;
  }

  .img-geometry {
    align-self: flex-end;
  }

  .btn {
    height: 4.8rem;
    width: 17.4rem;
    font-size: 1.24rem;
    line-height: 1.86rem;
  }

  .project-detail > .btn:hover,
  .project-detail > .btn:active {
    background-color: var(--color-primary);
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  .project-detail {
    padding: 6rem;
  }

  .project-name {
    font-weight: 500;
    font-size: 4rem;
    line-height: 2.8rem;
  }

  .languages {
    margin: 2.34rem 0 4.13rem 0;
  }

  .languages > * {
    margin-right: 1.377rem;
    padding: 1.377rem 1.377rem;
    font-size: 1.377rem;
    line-height: 1.1rem;
  }

  .btn-pro {
    padding: 0.82rem 1.377rem;
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  .project-detail_7 > .project-name {
    font-size: 2rem;
    line-height: 1.6rem;
  }

  .project-detail_7 > .languages {
    margin: 1.6rem 0 1.6rem 0;
  }

  .project-detail_7 > .languages > * {
    margin-right: 1.2rem;
    padding: 1.2rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.1rem;
  }

  .work {
    grid-template-columns: repeat(9, minmax(11.022rem, 12.222rem));
    grid-template-rows: repeat(10, minmax(11.022rem, 12.222rem));
    margin-top: 16.42rem;
  }

  .work-title {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    align-self: center;
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
  }

  .project-detail_7 {
    width: 100%;
    height: 15rem;
    padding: 3rem;
    transform: translateY(-5.1rem);
    grid-column: 7 / -1;
    grid-row: 4 / span 2;
    align-self: end;
  }

  .img-geometry > .img-geometry-dot {
    display: inline;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .proj-img_1 {
    width: 100%;
    height: 100%;
    grid-column: 4 / -1;
    grid-row: 1 / 2;
  }

  .project-detail_1 {
    width: 100%;
    grid-column: 4 / -1;
    grid-row: 2 / 4;
  }

  .proj-img_2 {
    width: 100%;
    transform: translateY(0.2rem);
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    align-self: end;
  }

  .img-geometry_3 {
    display: inline;
    width: 100%;
    height: 100%;
    grid-column: 4 / span 3;
    grid-row: 4 / span 2;
  }

  .img-geometry_4 {
    display: inline;
    align-self: end;
    width: 100%;
    grid-column: 6/ -1;
    grid-row: 7 / span 2;
  }

  .img-geometry_5 {
    display: inline;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 9 / 10;
  }

  .img-geometry_6 {
    display: inline;
    justify-self: end;
    grid-column: 5/ 6;
    grid-row: 9 / 10;
  }

  .proj-img_3 {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 5;
    grid-row: 6 / span 3;
  }

  .proj-img_4 {
    width: 100%;
    grid-column: 6 / span 3;
    grid-row: 9 / 10;
  }

  .proj-img_5 {
    z-index: 2;
    transform: translateY(7.1rem);
    width: 100%;
    grid-column: 7 / span 3;
    grid-row: 5 / span 2;
  }

  .proj-img_6 {
    width: 100%;
    grid-column: 7 / span 3;
    grid-row: 4 / span 2;
  }

  .about-myself {
    grid-template-columns: repeat(4, minmax(19.9rem, 22.07rem));
    grid-template-rows: repeat(2, minmax(19.9rem, 22.07rem));
    justify-content: end;
    margin-bottom: 15rem;
  }

  .about-main {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    padding-left: 6.61rem;
  }

  .card {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.067rem;
  }

  .about-icon {
    position: absolute;
    height: 6.61rem;
    width: 6.61rem;
    transform: translateY(10.5rem);
  }

  .card > ul {
    font-weight: 600;
    font-size: 1.24rem;
    line-height: 1.86rem;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 100%;
    height: 100%;
  }

  .img-geometry_8 {
    display: inline;
    width: 15.29rem;
    align-self: end;
    justify-self: end;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr minmax(37.75rem, 41.86rem) 1fr;
  }

  .img-geometry_7 {
    display: inline;
    width: 20.1rem;
  }

  .img-geometry_9 {
    display: inline;
    width: 26.79rem;
    align-self: end;
    justify-self: end;
  }

  .social {
    margin-top: 0;
    grid-column: 1 / -1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
  }

  .contact-info {
    padding: 0;
    margin-top: 11.57rem;
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .entry-name,
  .entry-email {
    width: 48%;
  }

  .entry-name {
    margin-right: 4%;
  }

  .entry-message {
    width: 100%;
  }

  .btn-submit {
    margin-bottom: 9.3rem;
  }

  .social-icon > .icon {
    margin-right: 1.5rem;
  }

  .social-icon {
    margin: 0;
  }

  .resume {
    margin: 4.8rem 12rem;
  }
}
