:root {
  --color-primary: #1a2236;
  --color-secondary: #c4c4c4;
  --color-light: #e5e5e5;
  --color-white: #fff;
  --color-orange: #fec25a;
  --color-dark-orange: #febf52;
  --color-aqua: #98dede;
  --color-aqua-2: #92dcdc;
  --color-light-blue: #1c528a;
  --color-light-blue-2: #547da7;
  --color-purple: #e2505c;
  --color-grey-background: #f9f9fa;
  --color-grey-border: #dfdfe0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px (browser default) = 62.5% */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background: var(--color-white);
}

/*Mobile Version*/
.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.navigation-nav {
  display: none;
}

.toggle {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.logo {
  height: 7.4rem;
}

.toggle .line {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-primary);
  margin: 0.2rem;
}

.landing-element {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: var(--color-primary);
  margin: 3.2rem 1.6rem;
}

.landing-about {
  padding: 0 1.6rem 3rem 1.6rem;
  display: flex;
  flex-direction: column;
}

.landing-about > p {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  line-height: 2.1;
  letter-spacing: -1%;
}

.btn {
  height: 5rem;
  background-color: var(--color-primary);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4;
  text-align: center;
  color: var(--color-white);
  border: none;
}

.btn:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn:active {
  background-color: var(--color-white);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.img-geometry-1 {
  width: 100%;
}

.img-geometry-large,
.img-geometry-dot,
.img-geometry-dot_2,
.img-geometry_3,
.img-geometry_4,
.img-geometry_5,
.img-geometry_6 {
  display: none;
}

.proj-img_1,
.proj-img_2,
.proj-img_3,
.proj-img_4,
.proj-img_5,
.proj-img_6 {
  width: 100%;
}

.work {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
}

.proj-card {
  display: flex;
  flex-direction: column;
}

.proj-img img {
  width: 100%;
  height: 100%;
}

.project-detail {
  background-color: var(--color-primary);
  padding: 2rem;
}

.project-name {
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  color: var(--color-white);
  margin-bottom: 1.6rem;
}

.languages {
  display: flex;
  margin-bottom: 1.6rem;
}

.languages > * {
  margin-right: 1rem;
  padding: 0.6rem;
  list-style: none;
  font-weight: 300;
  font-size: 1.033rem;
  line-height: 0.827;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-aqua);
}

.btn-pro {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid var(--color-white);
}

.btn-pro > .arrow {
  font-size: 2.57rem;
  padding-left: 0.6rem;
}

.btn-download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-myself {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  margin: 0 1.6rem 4rem 1.6rem;
}

.about-myself > .about {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.btn-download > .download-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 2rem;
  fill: var(--color-primary);
}

.btn-download > .download-icon:hover {
  fill: var(--color-primary);
}

.about-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color-white);
  margin-bottom: 2.1rem;
}

.about-myself .about {
  margin-bottom: 4rem;
}

.card {
  padding-left: 5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.about-icon {
  align-self: end;
  height: 10.222rem;
  width: 10.222rem;
  padding-bottom: 0;
  fill: var(--color-light-blue-2);
}

.card ul {
  margin-left: 3.4rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -0.0525em;
  color: var(--color-white);
}

.card-1 {
  background-color: var(--color-light-blue);
}

.card-2 {
  background-color: var(--color-purple);
}

.card-3 {
  background-color: var(--color-dark-orange);
}

.contact {
  background-color: var(--color-grey-background);
}

.contact-info {
  padding: 1.8rem;
}

.contact-title {
  margin-left: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > .btn {
  margin-top: 2rem;
}

.entry {
  position: relative;
  background-color: var(--color-white);
  padding: 0.5rem;
  border: 1px solid var(--color-grey-border);
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}

.entry:hover,
.entry:active {
  border: 1px solid var(--color-primary);
}

.input-label {
  margin: 0.4rem 1.6rem;
}

.message-label {
  margin: 1.5rem 1.6rem;
}

.input-text {
  outline: none;
  width: 100%;
  border: none;
  padding: 0.4rem 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.entry > textarea {
  height: 6.1rem;
}

.resume {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-aqua-2);
  margin-bottom: 3.2rem;
  margin-top: 1.6rem;
}

.resume > p {
  margin-right: 1.6rem;
}

.social {
  display: flex;
  flex-direction: column;
  margin-top: 6.4rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.6rem;
}

.social-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.resume > .icon {
  fill: var(--color-aqua-2);
}

@media only screen and (min-width: 992px) and (max-width: 1100px){
  .logo,
  .toggle {
    display: none;
  }

  .navigation-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-item {
    list-style: none;
    padding: 3.8rem 5rem;
  }

  .nav-item > .nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-primary);
  }

  .landing {
    display: flex;
  }

  .landing-item {
    flex: 1;
  }

  .landing-element {
    padding-left: 16rem;
  }

  .landing-about {
    margin: 0;
  }

  .img-geometry > .img-geometry-1 {
    display: none;
  }

  .landing-title {
    padding-right: 9.4rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .img-geometry-large,
  .img-geometry > .img-geometry-dot {
    display: inline;
    width: 12rem;
  }

  .img-geometry-large {
    width: 10rem;
  }

  .img-geometry {
    align-self: flex-end;
  }

  .landing-element {
    justify-content: flex-end;
  }

  .btn {
    height: 4.8rem;
    width: 17.4rem;
    font-size: 1.24rem;
    line-height: 1.86rem;
  }

  .project-detail > .btn:hover, 
  .project-detail > .btn:active {
    background-color: var(--color-primary);
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }
  
  .project-detail {
    padding: 6rem;
  }

  .project-name {
    font-weight: 500;
    font-size: 4rem;
    line-height: 2.8rem;
  }

  .languages {
    margin: 2.34rem 0 4.13rem 0;
  }
  
  .languages > * {
    margin-right: 1.377rem;
    padding: 1.377rem 1.377rem;
    font-size: 1.377rem;
    line-height: 1.1rem;
  }
  
  .btn-pro {
    padding: .82rem 1.377rem;
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    color: var(--color-primary);
  }  

  .project-detail_7 > .project-name {
    font-size: 2rem;
    line-height: 1.6rem;
  }

  .project-detail_7 > .languages {
    margin: 1.6rem 0 1.6rem 0;
  }

  .project-detail_7 > .languages > * {
    margin-right: 1.2rem;
    padding: 1.2rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.1rem;  
  }

  .work {
    grid-template-columns: repeat(9, minmax(11.022rem, 12.222rem));
    grid-template-rows: repeat(10, minmax(11.022rem, 12.222rem));
  }

  .work-title {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    align-self: center;    
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
  }

  .project-detail_7 {
    width: 100%;
    height: 15rem;
    padding: 3rem;
    transform: translateY(-5.1rem);
    grid-column: 7 / -1;
    grid-row: 4 / span 2;
    align-self: end;
  }
  .img-geometry-dot {
    display: inline;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .proj-img_1 {
    width: 100%;
    height: 100%;
    grid-column: 4 / -1;
    grid-row: 1 / 2;
  }

  .project-detail_2,
  .project-detail_3,
  .project-detail_4,
  .project-detail_5,
  .project-detail_6 {
    display: none;
  }

  .project-detail_1 {
    width: 100%;
    grid-column: 4 / -1;
    grid-row: 2 / 4;
  }

  .proj-img_2 {
    width: 100%;
    transform: translateY(.2rem);
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    align-self: end;
  }

  .img-geometry_3 {
    display: inline;
    width: 100%;
    height: 100%;
    grid-column: 4 / span 3;
    grid-row: 4 / span 2;
  }
  .img-geometry_4 {
    display: inline;
    align-self: end;
    width: 100%;
    grid-column: 6/ -1;
    grid-row: 7 / span 2;
  }

  .img-geometry_5 {
    display: inline;
    height: 100%;
    grid-column: 1/ span 2;
    grid-row: 9 / 10;
  }

  .img-geometry_6 {
    display: inline;
    justify-self: end;
    grid-column: 5/ 6;
    grid-row: 9 / 10;
  }

  .proj-img_3 {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 5;
    grid-row: 6 / span 3;
  }

  .proj-img_4 {
    width: 100%;
    grid-column: 6 / span 3;
    grid-row: 9 / 10;
  }

  .proj-img_5 {
    z-index: 2;
    transform: translateY(7.1rem);
    width: 100%;
    grid-column: 7 / span 3;
    grid-row: 5 / span 2;
  }

  .proj-img_6 {
    width: 100%;
    grid-column: 7 / span 3;
    grid-row: 4 / span 2;
  }
}
